@{
    ViewData["Title"] = "Reset Password";
    var token = ViewBag.Token as string ?? "";
}

<link rel="stylesheet" href="@Url.Content("~/css/login.css")" />

<form class="login-container" asp-action="ResetPassword" method="post">
    <input type="hidden" name="Token" value="@token" />
    <div class="login-frame">
        <div class="login-top">
            <img src="~/img/profile.png" alt="Reset Icon" class="login-icon" />
            <h2>Set New Password</h2>
        </div>
        <div class="login-input-frame" id="reset-form-frame">
            <div class="login-input-container">
                <label for="NewPassword">New Password</label>
                <input type="password" name="NewPassword" id="NewPassword" placeholder="Enter your new password"
                    required />
            </div>
        </div>
        <button class="login-btn" type="submit" id="reset-btn">Save</button>
    </div>
</form>