<%- include('includes/header') %>
<link rel="stylesheet" href="/css/admin-support.css" />

<body class="dashboard-page">
  <div class="dashboard-page__main">
    <div class="dashboard-page__header">
      <h2 class="dashboard-page__header-title">Support Contact Info</h2>
      <p class="dashboard-page__header-subtext">
        Reach out anytime — we're here to help.
      </p>
    </div>

    <div class="dashboard-page__feature-grid">
      <div class="dashboard-page__feature-card card-blue">
        <h3 class="dashboard-page__feature-title">Developer Info</h3>
        <p class="dashboard-page__feature-desc">
          <strong>Name:</strong> Tursunboev Ziynatillokh Alisher Ugli <br />
          <strong>Email:</strong> ziynatillokht@gmail.com <br />
          <strong>Phone:</strong> 010-9659-4003
        </p>
      </div>
    </div>
  </div>
</body>

<%- include('includes/footer') %>
