<%- include('includes/header') %>

<link rel="stylesheet" href="/css/login.css" />

<body>
  <form
    class="login-container"
    action="/admin/reset-password/<%= token %>"
    method="POST"
  >
    <div class="login-frame">
      <div class="login-top">
        <img src="/img/profile.png" alt="Reset Icon" class="login-icon" />
        <h2>Set New Password</h2>
      </div>
      <div class="login-input-frame" id="reset-form-frame">
        <div class="login-input-container">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            name="newPassword"
            id="newPassword"
            placeholder="Enter your new password"
            required
          />
        </div>
      </div>

      <button class="login-btn" type="submit" id="reset-btn">Save</button>
    </div>
  </form>
</body>

<%- include('includes/footer') %>
